In [1]:
#!pip install ipython-sql
%load_ext sql

In [2]:

import csv, sqlite3

con = sqlite3.connect("student_analysis.db")
cur = con.cursor()

In [3]:
%sql sqlite:///student_analysis.db

In [4]:
import pandas as pd
df = pd.read_csv("sda.csv")

In [5]:
df.to_sql("Student_Data",con,if_exists='replace',index=False)

27901

In [6]:
cur.execute("SELECT * FROM Student_Data LIMIT 5")
rows = cur.fetchall()
for row in rows:
    print(row)

(2, 'Male', 33.0, 'Visakhapatnam', 'Student', 5.0, 0.0, 8.97, 2.0, 0.0, '5-6 hours', 'Healthy', 'B.Pharm', 'Yes', 3.0, 1.0, 'No', 1)
(8, 'Female', 24.0, 'Bangalore', 'Student', 2.0, 0.0, 5.9, 5.0, 0.0, '5-6 hours', 'Moderate', 'BSc', 'No', 3.0, 2.0, 'Yes', 0)
(26, 'Male', 31.0, 'Srinagar', 'Student', 3.0, 0.0, 7.03, 5.0, 0.0, 'Less than 5 hours', 'Healthy', 'BA', 'No', 9.0, 1.0, 'Yes', 0)
(30, 'Female', 28.0, 'Varanasi', 'Student', 3.0, 0.0, 5.59, 2.0, 0.0, '7-8 hours', 'Moderate', 'BCA', 'Yes', 4.0, 5.0, 'Yes', 1)
(32, 'Female', 25.0, 'Jaipur', 'Student', 4.0, 0.0, 8.13, 3.0, 0.0, '5-6 hours', 'Moderate', 'M.Tech', 'Yes', 1.0, 1.0, 'No', 0)

In [7]:
cur.execute('SELECT COUNT(*) FROM Student_Data WHERE "Family History of Mental Illness" = 1')

# Fetch the result
count = cur.fetchone()[0]  # Extracting the count from tuple
print("Total number of students with a family history of mental illness:", count)

Total number of students with a family history of mental illness: 0

In [8]:
con.commit()

In [9]:
con.close()